<div class="span3 item element">
    <div class="picture">
        {% load index_layout_utils %}
        <!--a class="image" href="/static/media/{{i.image_file}}" title="{{i.name}}">
        <img src="/static/media/{{i.smal_img_file}}" alt=""/></a>-->
            <a class="image" href="{% url 'animal:profile' i.id %}" title="{{i.name}}">
            <img src="/static/media/{{i.smal_img_file}}" alt=""/></a>
        <div class="description">
            {% if i.note|length > 100 %}
                {% load string_tags %}
                <p>{% cut_string i.note 100 %}...<br/><a href="{% url 'animal:profile' i.id %}">more</a></p>
            {% else %}
                <p>{{ i.note }}</p>
            {% endif %}
        </div>
        <div class="actions">
            <span class="btn btn-success"><i class="fa-icon-phone"></i> <a href="tel://{{i.phone_normalized}}">想瞭解</a></span>
            <span class="btn btn-primary"><i class="fa-icon-facebook-sign"></i><a href="{{i.share_link_facebook}}" target="_blank">想分享</a></span>
        </div>
        <div class="meta">
            {% ifnotequal i.children_score 0 %}
            <span class="badge" title="{{i.childre_anlong}}" data-score-max="3" data-score="{{i.children_score}}">#親近孩童</span>
            {% endifnotequal %}
            {% ifnotequal i.animal_score 0 %}
            <span class="badge">#親近動物</span>
            {% endifnotequal %}
            <br/>
            <span><i class="fa-icon-heart-empty"></i> <a href="#">{{i.name}}</a></span>
            <span><i class="fa-icon-phone"><a href="tel://{{i.phone_normalized}}">{{i.phone}}</a></i></span>
            <br />
            <span><i class="fa-icon-home muted"><small>{{i.resettlement|linebreaksbr}}</small></i></span>
            <br />
            <!--
            <i class="glyphicon glyphicon-hand-down">&nbsp;{{ i.count_clicks }}</i>&nbsp;&nbsp;&nbsp;
            <i class="glyphicon glyphicon-eye-open">&nbsp;{{i.count_eyeons}}</i>
            <span><i class="fa-icon-home muted"></i> <small>{{i.resettlement}}</small></span>
            -->
        </div>
    </div>
</div>
