<div class="span3 item element">
    <div class="picture">
            <a class="image" href="{% url 'animal:profile' i.id %}" title="{{i.name}}">
            <img src="/static/media/{{i.smal_img_file}}" alt=""/></a>
        <div class="description">
            {% load string_tags %}
            <p>{% cut_string i.note 150 %}
            </p>
        </div>
        <div class="actions">
            <span class="btn btn-danger"><i class="fa-icon-phone"></i> <a href="tel://{{i.phone_normalized}}">想瞭解</a></span>
            <span class="btn btn-primary"><i class="fa-icon-facebook-sign"></i> <a href="{{i.share_link_facebook}}">想分享</a></span>
        </div>
        <div class="meta">

            {% ifnotequal i.children_score 0 %}
            <span class="children_score label label-success" title="{{i.childre_anlong}}" data-score-max="3" data-score="{{i.children_score}}">親近孩童</span>
            {% endifnotequal %}

            {% ifnotequal i.animal_score 0 %}
            <span class="label label-success">親近動物</span>
            {% endifnotequal %}

            <br/>

            <span><i class="fa-icon-heart-empty"></i> <a href="#">{{i.name}}</a></span>
            <span><i class="fa-icon-home muted"></i> <small>{{i.resettlement}}</small></span>
        </div>
    </div>
</div>
