{% extends "base.html" %}
{% block title %}petneed.me|home{% endblock title %}
{% block FBog %}
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
{% endblock FBog %}
{% block context %}
<div id="container" class="container">
    <!--start: Wrapper-->
    <div id="wrapper">
        <!-- start: Wall -->
        <div id="wall" class="row-fluid">
            {% for i in animals %}
                {% include "brick.html" %}
            {% endfor %}
            <nav id="page_nav">
            <a href="/animal/page/2"></a>
            </nav>
        </div>
        <!-- end: Wall -->
    </div>
{% endblock context %}
{% block js_in_doc %}
<script>
    function colorLuminance(hex, lum) {
        // lum := singed floating number
        // positive for getting darker color
        // negative for getting lighter color
        hex = String(hex).replace(/[^0-9a-f]/gi, '');
        if (hex.length < 6) {
            hex = hex[0]+hex[0]+hex[1]+hex[1]+hex[2]+hex[2];
        }
        lum = lum || 0;

        // convert to decimal and change luminosity
        var rgb = "#", c, i;
        for (i = 0; i < 3; i++) {
            c = parseInt(hex.substr(i*2,2), 16);
            c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16);
            rgb += c;
            //rgb += ("00"+c).substr(c.length);
        }
        return rgb;
    }

    function updateChildrenAnimalScore() {
        $('.children_score').each(function() {
            var baseColor = '#468847';
            var rangeFactor = 3;
            var score = parseInt($(this).attr('data-score'), 10);
            var max = parseInt($(this).attr('data-score-max'), 10);
            var color = colorLuminance(baseColor, rangeFactor * (max - score) * 0.1);
            $(this).css('backgroundColor', color);
        });
    }

    jQuery(document).ready(function () {
        var $container = $('#wall');
        $container.isotope({
            itemSelector : '.element'
        });
        $container.infinitescroll({
            navSelector  : '#page_nav',    // selector for the paged navigation
            nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
            itemSelector : '.element',     // selector for all items you'll retrieve
        },
        // call Isotope as a callback
        function( newElements ) {
            $container.isotope( 'insert', $( newElements ) );
            updateChildrenAnimalScore();
        }
        );

        updateChildrenAnimalScore();
    });
</script>
{% endblock js_in_doc %}
