{% extends "base.html" %}
{% block title %}petneed.me|home{% endblock title %}
{% block context %}
<div id="container" class="container">
    <!--start: Wrapper-->
    <div id="wrapper">
        <!-- start: Wall -->
        <div id="wall" class="row-fluid">
            {% for i in animals %}
            {% include "brick.html" %}
            {% endfor %}
            <nav id="page_nav">
            <a href="/animal/page/2"></a>
            </nav>
        </div>
        <!-- end: Wall -->
    </div>
{% endblock context %}
{% block js_in_doc %}
<script>
    jQuery(document).ready(function () {
        var $container = $('#wall');
        $container.isotope({
            itemSelector : '.element'
        });
        $container.infinitescroll({
            navSelector  : '#page_nav',    // selector for the paged navigation
            nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
            itemSelector : '.element',     // selector for all items you'll retrieve
        },
        // call Isotope as a callback
        function( newElements ) {
            $container.isotope( 'insert', $( newElements ) );
        }
        );
    });
</script>
{% endblock js_in_doc %}
