{% extends "base.html" %}
{% block title %}petneed.me|home{% endblock title %}
{% block context %}
<div id="container" class="container">
<div id="wrapper">
    <div class="row-fluid">
	<div class="span5">
		<img src="/static/media/{{animal.image_file}}" alt=""/>	
	</div>
	<div class="span6">
		<div class="description">
		    <h3>{{animal.note}}
		    </h3>
		</div>
		<div class="meta">
		    <span><i class="fa-icon-heart-empty lead text-success">{{animal.name}}</i></span>
		    <span><i class="fa-icon-phone lead text-info">{{animal.phone}}</i></span>
		    <br />
		    <span><i class="fa-icon-home muted lead"><small>{{animal.resettlement}}</small></i></span>
		</div>
		<div class="fb-like pull-right" data-width="50" data-layout="box_count" data-show-faces="true" data-send="false" href="{{current_url}}"></div>
		<hr>
		<div class="fb-comments" data-width="480" data-num-posts="3" href={{current_url}}></div>
	</div>
    </div>
</div>
</div>
{% endblock context %}

