{% extends "base.html" %}
{% block title %}petneed.me|login{% endblock title %}
{% block context %}
<!--start: Container -->
<div class="container">
    <!-- start: Page Title -->
    <div class="row-fluid">
        <div id="page-title" class="span4 offset4">
            <h2>Create your account</h2>
        </div>
    </div>
    <!-- end: Page Title -->
    <!--start: Wrapper-->
    <div class="row-fluid">
        <div id="wrapper" class="full lr-page span4 offset4">
            <!-- start: Row -->
            <div class="row-fluid">
                <div id="login-form" class="span12">
                    <div class="page-title-small">
                        <h3>use your account</h3>
                    </div>
                    <a href="" class="facebook_connect">
                        <div class="img"><i class="fa-icon-facebook"></i></div>
                        <div class="text">Register with Facebook</div>
                    </a>
                    <div class="page-title-small">
                        <h3 style="background:#f0f0f0">or</h3>
                    </div>
                    {% if error_msg %}
                    {{error_msg}}
                    {% endif %}
                    <form method="post" action="/animal/register">{% csrf_token %}
                        <div class="row-fluid">
                            <input class="span12" id="user" name="user" type="text" value="" placeholder="username"/>
                            <input class="span12" id="email" name="email" type="text" value="" placeholder="email"/>
                            <input class="span12" id="password" name="password" type="password" value="" placeholder="password"/>
                            <input class="span12" id="conf_password" name="conf_password" type="password" value="" placeholder="confirm password"/>
                        </div>
                        <div class="actions">
                            <button type="submit" class="btn span12">Create Account!</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end: Row -->
        </div>
        <!-- end: Wrapper  -->
    </div>
</div>
<!--end: Container-->
{% endblock context %}
