{% extends "base.html" %}

{% block title %}petneed.me|thanks for register{% endblock title %}

{% block context %}
<!--start: Container -->
<div class="container">
    <!-- start: Page Title -->
    <div class="row-fluid">
        <div id="page-title" class="span4 offset4">
            <h2>Thanks for register</h2>
        </div>
    </div>
    <!-- end: Page Title -->
    <!--start: Wrapper-->
    <div class="row-fluid">
        <div id="wrapper" class="full lr-page span4 offset4">
            <!-- start: Row -->
            <div class="row-fluid">
                <div id="login-form" class="span12">
                    <h3>Thanks for regist account in petneed.me, Please <a href="/animal/login">Login</a>.</h3>
                </div>
            </div>
            <!-- end: Row -->
        </div>
        <!-- end: Wrapper  -->
    </div>
</div>
<!--end: Container-->
{% endblock context %}
